page-welcome {
#welcome{
  background: color($colors, secondary)
  h1{
    font-size: 50px;
    margin-top: 50px;

  }

  .marginTop{
    margin-top: 150px;
  }

  .logo{
    height: 150px;
    padding-left: 15px;
  }
}

}
