page-mainclass {

  .pull-left {float:left;}
  .pull-right {float:right;}
  .text-center {text-align:center;}
  .big-letter{
    font-size: 30px;
    padding-left: 10px;
    text-align: center;
  }

}
